
<h1> Edit Blood Gluclose Reading</h1>

  <%= form_tag "/levels/#{@level.id}", method: :patch do %>

  
    <div>
    <%= label_tag :reading %>
    <%= text_field_tag :reading, @level.reading %>
    </div>

    <div>
    <%= label_tag :date %>
    <%= text_field_tag :date, @level.date %>
    </div>

    <div>
    <%= label_tag :time %>
    <%= text_field_tag :time, @level.time %>
    </div>

    <div>
    <%= submit_tag 'Update' %>
    </div>

  <% end %>

