<div ng-app="app">
  {{ 1 + 1 }}
</div>


<h1> Levels </h1>

<% @levels.each do |level| %>
  <h3> <a href="/levels/<%= level.id %>"><%= level.reading %></a></h3>
  <p>Date: <%= level.date %></p>
  <p>Time: <%= level.time %></p>
<br>
<% end %>

<h4><%= link_to "New Reading", "/levels/new", class: "btn btn-success" %></h4>
<h5><%= link_to "Activities", "/activities", class: "btn btn-success" %></h5> 
<h5><%= link_to "Meals", "/meals", class: "btn btn-success" %></h5> 
<h5><%= link_to "Reports", "/reports", class: "btn btn-success" %></h5> 

<!-- <p><%= @test_token %></p>
<p><%= @test_secret %></p> -->
