<div ng-app="app">
  {{ 1 + 1 }}
</div>


<body>


<!-- end of modal button -->

<!-- start of image -->

   
<div class="container-fluid">
<div class="col-md-12">
<div class="row">


<!-- levels -->
  <div class="col-md-12">
    <div class="do-item" style="background-image: url('https://images.unsplash.com/photo-1465829235810-1f912537f253?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=b09a3e83d96a29013ac8aa474dbcbb26'); height: 40em; background-size: cover; background-position: center;">
      <div class="do-info-wrap">
        <div class="do-info">
          <div class="do-info-front"></div>
          <div class="do-info-back">
            <h1><%= link_to "Levels", "/levels", class: "btn btn-success" %></h1> 
            <div>
             <button type="button" class="btn btn-primary btn-med" data-toggle="modal" data-target="#myModal"> New Reading </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-5">
    </div>
    <div class="col-md-5">
    </div>
  </div>


  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <p class="modal-title" id="myModalLabel">Record your blood sugar level.</p>
        </div>
        <div class="modal-body">
          <%= form_tag '/levels', method: :post do %>

      <div>
      <%= label_tag :reading %>
      <%= text_field_tag :reading%>
      </div>

      <div>
      <%= label_tag :date %>
      <%= text_field_tag :date%>
      </div>

      <div>
      <%= label_tag :time %>
      <%= text_field_tag :time%>
      </div>

      <div>
      <%= submit_tag 'SUMBIT' %>
      </div>

    <% end %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </div>




<br>

<!-- LEVELS TABLE -->

  <div class="container">
    <div class="row col-md-12">
 
      <table class="table table-hover">
      
        <thead class= "thead-inverse">
          <tr>
            <th>Date</th>
            <th>Time</th>
            <th>Level</th>
          </tr>
        </thead>
        <tbody>

        <% @levels.each do |x| %>
          <tr>
            <td><%=  x.date %>   </td>
            <td><%=  x.time %>   </td>
            <td><%=  x.reading%> </td>
        <% end %>
          </tr>
        </tbody>
      </table>
    </div>
  </div>


</div>





