<h1> New Reading</h1>

  <%= form_tag '/levels', method: :post do %>

    <div>
    <%= label_tag :reading %>
    <%= text_field_tag :reading%>
    </div>

    <div>
    <%= label_tag :date %>
    <%= text_field_tag :date%>
    </div>

    <div>
    <%= label_tag :time %>
    <%= text_field_tag :time%>
    </div>

    <div>
    <%= submit_tag 'SUMBIT' %>
    </div>

  <% end %>

