<h1> Edit Activity </h1>


  <%= form_tag "/activities/#{@exercise.id}", method: :patch do %>

    <div>
    <%= label_tag :activity %>
    <%= text_field_tag :activity%>
    </div>

    <div>
    <%= label_tag :duration %>
    <%= text_field_tag :duration%>
    </div>

    <div>
    <%= label_tag :date %>
    <%= text_field_tag :date%>
    </div>
    
    <div>
    <%= submit_tag 'Update' %>
    </div>

  <% end %>

