
<h3> Dapp Activity Tracker</h3>

<% @exercises.each do |exercise| %>
  <h4> <a href="/activities/<%= exercise.id %>"><%= exercise.activity %></a></h4>
  <h5>Date: <%= exercise.date %></h5>
  <h5>Duration: <%= exercise.duration %></h5>
<br>
<% end %>

<h4><%= link_to "New Activity", "/activities/new", class: "btn btn-success" %></h4> 
<h5><%= link_to "Levels", "/levels", class: "btn btn-success" %></h5> 
<h5><%= link_to "Meals", "/meals", class: "btn btn-success" %></h5> 
<h5><%= link_to "Reports", "/reports", class: "btn btn-success" %></h5> 


