<h1> New Activity</h1>

  <%= form_tag '/activities', method: :post do %>

    
    <div>
    <%= label_tag :activity %>
    <%= text_field_tag :activity%>
    </div>

    <div>
    <%= label_tag :date %>
    <%= text_field_tag :date%>
    </div>

    <div>
    <%= label_tag :duration %>
    <%= text_field_tag :duration%>
    </div>

    <div>
    <%= submit_tag 'SUMBIT' %>
    </div>

  <% end %>