 
  <body>
    
   <div class="container-fluid">
     <div class="col-md-12">
        <div class="do-item" style="background-image: url('https://images.unsplash.com/photo-1464958674501-4dc3d73d8f46?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=012504555848e4c54c50dfbf26dd857a'); height: 38em; background-size: cover; background-position: center; background-repeat: no-repeat;">  
          <div class="do-info-wrap">
            <div class="do-info">
              <div class="do-info-front"></div>
              <div class="do-info-back">
                <h2>  <%= link_to "Reports", "/reports", class: "btn btn-success" %> </h2>
                 <h2> <%= link_to "Levels Summary", levels_path(@levels, format: "pdf"),class: "btn btn-success" %> </h2>
              </div>
            </div> 
          </div>
        </div>
        <div class="col-sm-5">
        </div>
        <div class="col-sm-5">
        </div>
      </div>

      </div>

    </div>


    <div>
      <form class="navbar-form navbar-left" role="first name">
    <%= form_tag '/', method: :get, class: "navbar-form navbar-right" do %>
     <div class="form-group">
     <%= text_field_tag :search_term, nil, class: "form-control", placeholder: "Search" %>
     </div>
      <%= submit_tag "Search", class: "btn btn-default" %>
    <% end %>
    <br>


   <div class="container-fluid">
    <div class="col-md-12">
      <div>
        <%= month_calendar events: @levels, attribute: :created_at do |date, levels| %>
        <%= date %>

        <% levels.each do |level| %>
          <div>
            <%= level.reading%>
            <%= level.time %>
          </div>
        <% end %>
      <% end %>
      </div>
    </div>
  </div>

  
    <div id="reports">
    <br>
    </div>

    <!-- Start of levels collapse -->
    <div class="container-fluid">
    <div class="col-md-12">
    <div id="levels">
      <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingOne">
            <h4 class="panel-title">
              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Levels
              </a>
            </h4>
          </div>
          <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body">
            
            </div>
          </div>
        </div>
    </div>


    <!-- Start of activities collapse -->
    <div id="activities">
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingThree">
          <h4 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
              Activity
            </a>
          </h4>
        </div>
        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
          <div class="panel-body">
            <!-- insert here -->
          </div>
        </div>
      </div>
    </div>


    <!-- Start of meals collapse -->
    <div id="meals">
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingFour">
          <h4 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
              Meals
            </a>
          </h4>
        </div>
        <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
          <div class="panel-body">
            
            <!-- insert here -->
          </div>
        </div>
      </div>

     </div>
    </div>
  </body>










