<h1> Reports </h1>
<br>

<h2> Levels </h2>

<% @levels.each do |level| %>
  <h3> <a href="/levels/<%= level.id %>"><%= level.reading %></a></h3>
  <p>Date: <%= level.date %></p>
  <p>Time: <%= level.time %></p>
<br>
<% end %>



<h2> Meals </h2>

<% @diets.each do |diet| %>
  <h3> <a href="/meals/<%= diet.id %>"><%= diet.meal%></a></h3>
  <p>Date: <%= diet.date %></p>
  <p>Carbs: <%= diet.carbs %></p>
<br>
<% end %>

<h2> Activities </h2>

<% @exercises.each do |exercise| %>
  <h3> <a href="/activities/<%= exercise.id %>"><%= exercise.activity %></a></h3>
  <p>Date: <%= exercise.date %></p>
  <p>Duration: <%= exercise.duration %></p>
<br>
<% end %>


